$gray: #444;
$light-gray: #CCC8C8;
$medium-gray: #666;
$black: #333;
$white: #fff;
$green: #0F8E51;
// $blue: #01ADE4;

.main {
  display: flex;
  padding: 0 1em;
  margin-top: 100px;
}

.board {
  flex: 1 1 80%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.row {
  width: 100%;
  display: flex;
  border-right: 3px solid $black;
  border-left: 3px solid $black;

  &:nth-child(odd) .square:nth-child(even) {
    background: $light-gray;
  }

  &:nth-child(even) .square:nth-child(odd) {
    background: $light-gray;
  }

  &:first-child {
    border-top: 3px solid $black;
  }

  // hack - chrome doesn't support last-of-type for .class selectors
  &:nth-child(8) {
    border-bottom: 3px solid $black;
  }
}


.square {
  flex: 1 1 0;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid $black;
  min-height: 100px;
  position: relative;

  .square-meta {
    display: flex;
    justify-content: space-between;
  }
}