@import '../../assets/colors.scss';

.square {
  height: 50px;
  width: 50px;
  background-color: $medium-gray;

  .chess-id {
    color: $white;
  }
  // .piece {
  //     display: flex;
  //     flex: 1 1 auto;
  //     flex-flow: column nowrap;
  //     align-items: center;
  //     justify-content: center;
  //     font-size: 3em;
  //     cursor: pointer;
  //   }
}
