@import '../../assets/colors.scss';

.square {
  flex: 1 1 0;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid $black;
  position: relative;
  background-color: $medium-gray;
  max-height: 100%;
  max-width: 100%;

  .square-meta {
    display: flex;
    justify-content: space-between;
  }
}
.chess-id {
  color: $white;
}
