@import './assets/colors.scss';
@import './assets/global.scss';
@import './assets//reset.scss';
@import './assets/fonts.scss';

body {
  font-family: $raleway;
  background-color: $light;
  font-size: 17px;
  color: $black;
  margin: 0;
  padding: 0;
}
